@import "tailwindcss";

@theme {
  --color-gold-50: #fbf8eb;
  --color-gold-100: #f5efcd;
  --color-gold-200: #ebdca0;
  --color-gold-300: #dfc26c;
  --color-gold-400: #d4af37;
  --color-gold-500: #b89228;
  --color-gold-600: #9b761e;
  --color-gold-700: #7d5b1b;
  --color-gold-800: #684a1d;
  --color-gold-900: #563d1e;

  --color-luxury-black: #0a0a0a;
  --color-luxury-charcoal: #1a1a1a;

  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-lato), sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-luxury-black);
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}